
		body{
			background-color: skyblue;
		}
		#wadahcontent{
			width: 1000px;
			margin-left: auto;
			margin-right: auto;

		}
		#header{
			height: 400px;
			background-color: white;
			background-image: url("bruto.jpg");
			background-size: 100% 100%;
		}
		#navigasi{
			height: 50px;
			background-color: skyblue;
			padding-top: 30px;
			text-align: center;
		}
		#navigasi a{
			font-size: 20px;
		}
		#date-time {
            font-size: 20px;
            margin-top: 20px;
            color: white;
            height: 20px;
            color: blue;
        }
		#content{
			height: auto;
			background-color: white;
			padding: 5px 15px 5px 15px;
		}
		#contentGalery{
			height: 700;
			right: 700; 
			background-color: white;
			padding: 5px 15px 5px 15px;
		}
		#content h1{
			color: skyblue;
		}
		#content h3{
			color: skyblue;
		}
		#content p{
			font-family: initial;
			font-size: 18px;
			text-align: justify;  
			color: black;
		}
		img {
			width: 300px;
			padding-right: 10px;
			padding-left: 10px;
			padding: 10px;
			float: right;
			float: left;
		}
		.images{
			float:left ;
			margin: 5px;
		}
		#footer{
			height: 70px;
			background-color: black;
			padding-top: 30px;
		}
		#footer p{
			color: white;
			text-align: center;
		}
